html,body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background-color: #ccd5ae;
  }

body {
  font-family: Arial, sans-serif;
}

.welcome-img {
  max-width: 40%;
  margin-bottom: 5px;
}

:root{
  --green: #606c38;
  --darkgreen: #283618;
  --white: #fefae0;
  --yellow: #dda25e;
  --brown: #bc6c25;
  --green: #ccd5ae;
  --lightgreen: #e9edc9;
  --lightyellow: #faedcd;
  --lightbrown: #d4a373;
}
  
h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: var(--darkgreen);
}
  
p {
  font-size: 18px;
  color:  var(--darkgreen);
  justify-self: center;
}

.flex-welcome-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  
.start-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #bc6c25;
  color: #fefae0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
  
.start-button:hover {
  background-color: #d4a373;
}
  
/* Optional: Adjust the button style based on your preference */
.start-button:active {
  background-color: #dda25e;
}

  